<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BetterFarmAnimalVariety.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BetterFarmAnimalVariety.Properties.Settings>
            <setting name="FarmAnimals_Cows" serializeAs="String">
                <value>5927/11343/32/448/32/16/White Cow,Brown Cow</value>
            </setting>
            <setting name="FarmAnimals_Chickens" serializeAs="String">
                <value>5922/11334/0/448/32/16/White Chicken,Brown Chicken,Blue Chicken,Void Chicken</value>
            </setting>
            <setting name="FarmAnimals_Sheep" serializeAs="String">
                <value>5942/11352/32/464/32/16/Sheep</value>
            </setting>
            <setting name="FarmAnimals_Goats" serializeAs="String">
                <value>5933/11349/64/448/32/16/Goat</value>
            </setting>
            <setting name="FarmAnimals_Pigs" serializeAs="String">
                <value>5948/11346/0/480/32/16/Pig</value>
            </setting>
            <setting name="FarmAnimals_Ducks" serializeAs="String">
                <value>5937/11337/0/464/32/16/Duck</value>
            </setting>
            <setting name="FarmAnimals_Rabbits" serializeAs="String">
                <value>5945/11340/64/464/32/16/Rabbit</value>
            </setting>
            <setting name="FarmAnimals_Dinosaurs" serializeAs="String">
                <value>-1/-1/-1/-1/-1/-1/Dinosaur</value>
            </setting>
            <setting name="AssetsDirectory" serializeAs="String">
                <value>assets</value>
            </setting>
        </BetterFarmAnimalVariety.Properties.Settings>
    </applicationSettings>
</configuration>